searchFunction = function (str, patten) {
  if (patten == '') return true
  else if (str.indexOf(patten) != -1) return true
  else return false
}

inJSONArray = function (ja, id) {
  if (ja.indexOf(id.toString()) != -1) return true;
  else return false;
}

module.exports = {
  searchFunction: searchFunction,
  inJSONArray: inJSONArray
}